[submodule "Advanced Python/Advanced"]
	path = Advanced Python/Advanced
	url = https://github.com/IE-Advanced-Python/1-package-ml-model-group-2.git
[submodule "Advanced Python/Deploy_ML_Web_API"]
	path = Advanced Python/Deploy_ML_Web_API
	url = https://github.com/IE-Advanced-Python/2-deploy-ml-web-api-Jonashellevang.git
